@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <center>
        <iframe width="1355" height="650" src="https://www.youtube.com/embed/X1wdXmexWWE" title="Pizza in oven 10 minutes loop" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </center>
    </div>
</div>
