@{
    ViewData["Title"] = "Home Page";
}
@*Carrousel*@
<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/free-vector/realistic-pizza-ads-banner_52683-70643.jpg?w=900&t=st=1661451084~exp=1661451684~hmac=a0a95651503d518170325029fd786a0d0dd6d81d0fc9979efb8ab226f833ba92" class="d-block w-100" alt="...">
        </div>
@*      <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>*@
    </div>
</div>
@*/Carrousel*@
<hr/>

