@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Pode acompanhar meu linkedin > <a href="https://www.linkedin.com/in/kauê-castelani-1400a2175/">Linkedin</a></p>
<p>Pode acompanhar meu linkedin > <a href="https://github.com/castel4n1">GitHub</a></p>