@model Sabor

<div class="row">
    <div class="col-md-2">
        <img class="img-thumbnail" src="@Model.FotoUrl" />
    </div>
    <div class="col-md-10">
        <h1>@Model.Nome</h1>
    </div>

</div>